<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<!-- SEO -->
	<meta name="description"
		content="Servicios IT para negocios y PyMES. Módulo de Servicio de autenticación de RADIUS conoce cómo it-servicios trabaja para que estés">
	<meta name="keywords"
		content="it servicios, servicios it, servicios tic, zentyal, servidor linux, avast, antivirus, reseller, partner, Dominio y directorio, servidor de correos, gateway, retrospect, backup, protección de datos, servicio it, asistencia tecnica, tecnico informatica, redes, insumos reparaciones, autenticación, RADIUS ">
	<meta name="author" content="Martin Kutzner">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<!-- bs -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<!-- GOOLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mochiy+Pop+P+One&family=Mukta:wght@200&display=swap"
		rel="stylesheet">
	<!-- CSS ESTILO -->
	<link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
	<header>
		<!-- barra de naveg -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="index.html"><img src="https://icongr.am/jam/bing.svg?size=78&color=ffffff"
					alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item ">
						<a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="servicios.html">SERVICIOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="productos.html">PRODUCTOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="nosotros.html">NOSOTROS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contacto.html">CONTACTO</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- ROW 2 -->
	<span class="d-block p-2 bg-info text-white">Soluciones IT - Insumos Informáticos</span>
	<span class="d-block p-2 bg-dark text-white"></span>
	<!-- ROW 3 -->
	<div class="container-fluid">
		<div class="row box_form">
			<div class="col-lg-6 col-sm-12">
				<main class="maintopCont">
					<div class="mainTopizqCont">
					</div>
					<div class="mainTopmedCont formulariocolumna bg-secondary">
						<div class="contactoT bg-dark">
							<h2>CONTACTO</h2>
						</div>
						<form action="#">
							<label for="name">Nombre:
								<input type="text" placeholder="Nombre" required>
							</label>
							<label for="name">Apellido:
								<input type="text" placeholder="Apellido" required>
							</label>
							<label for="name">Teléfono:
								<input type="number" placeholder="+54" required>
							</label>
							<label for="email">E-mail:
								<input type="email" placeholder="escribe aquí tu email" name="email" required>
							</label>
							<label for="textarea"> Comentarios:
								<textarea placeholder=""></textarea>
							</label>
							</select>
							<div class="cajabotonC">
								<button class="button">Enviar</button>
							</div>
						</form>
					</div>
					<div class="mainTopderCont">
					</div>
				</main>
			</div>
			<div class="col-lg-6 col-sm-12 d-flex align-items-center mapa_p">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.1202644053947!2d-64.19479428431205!3d-31.438355904461766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2f50c080985%3A0xec1e4c66fe09e826!2sFacultad%20de%20Matem%C3%A1tica%2C%20Astronom%C3%ADa%2C%20F%C3%ADsica%20y%20Computaci%C3%B3n%20-%20FaMaF!5e0!3m2!1ses-419!2sar!4v1648162589236!5m2!1ses-419!2sar"
					width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
		<!-- ROW 4 -->
		<div class="row">
			<div class="col-lg-12 col-sm-12 ">
				<div class="card text-center ">
					<div class="card-header">
						Puedes encontrarnos en Av. Medina Allende 1584, Córdoba.
					</div>
					<div class="card-body">
						<h5 class="card-title">Teléfono. +54 9 3541-395446</h5>
						<p class="card-text">Aprovecha nuestros descuentos para clientes del 20%.</p>
						<a href="productos.html" class="btn btn-primary bg-dark bTn">Ir a la tienda</a>
					</div>
					<div class="card-footer text-muted">
						Nuestras redes sociales
					</div>
				</div>
			</div>
		</div>
		<!--  ROW 5  -->
		<footer class="row iconfoo bg-dark">
			<div class="col-lg-12 col-sm-12">
				<ul class="list-inline text-center">
					<li class="list-inline-item"><a href="https://www.facebook.com/federico.kutz.3/"
							target="_blank"><img src="https://icongr.am/fontawesome/facebook.svg?size=30&color=180a24"
								alt="facebook"></a></li>
					<li class="list-inline-item"><a href="https://instagram.com/mfkutz/" target="_blank"><img
								src="https://icongr.am/fontawesome/instagram.svg?size=30&color=180a24"
								alt="instagram"></a></li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/martin-kutzner-95ba66139/"
							target="_blank"><img
								src="https://icongr.am/fontawesome/linkedin-square.svg?size=30&color=180a24"
								alt="linkedin"></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/martin_kutzner" target="_blank"><img
								src="https://icongr.am/fontawesome/twitter.svg?size=30&color=180a24" alt="twitter"></a>
					</li>
				</ul>
			</div>
		</footer>
	</div>
	<!-- js bs bundle -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
		crossorigin="anonymous"></script>
</body>

</html>